<div class="show">
  <h1>プロフィール</h1>



  <h2>お気に入り数</h2>
  <p><%= @blogs_count %></p>

  <h2>お気に入り一覧</h2>
  <table>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to "戻る", blogs_path %>

</div>